body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.no-results {
  margin-top: 50px;
  text-align: center;
}
#navSearch {
  width: 200px;
  display: inline-block;
  margin: 8px 10px 0 0;
}
.jumbotron {
  margin-top: 50px;
  color: #fff;
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
}
.jumbotron .container {
  padding: 100px;
}
.jumbotron .container .form-control {
  margin-top: 40px;
}
.search-res .image-container {
  width: 60px;
  margin-right: 10px;
  float: left;
}
.search-res .description {
  margin-left: 70px;
  margin-top: 5px;
}
